{{#if isEditing}}
  <input value={{name}}
           oninput={{action (mut movie.name) value="target.value"}}
  >
{{else}}
  <div class="ma2 br2">{{movie.name}}</div>
{{/if}}

<button {{action "toggleEdit"}}>
  {{if isEditing 'done' 'edit' }}
</button><


