<div class="statusgroup">
<h2 class="header" data-group={{group.name}}>Name {{group.name}}</h2>
{{#each group.tasks as |t|}}
  <li>
    {{log 'hi'}}
    {{t.name}}
  </li>
{{/each}}

  {{add-card group=group onAddCard=(action "addCard")}}
</div>